@using FiveMinutesTalk.Domain.Entities.QuestionsTypes
@model Guid[]

@{
    ViewData["Title"] = "Прохождение опроса";
}

<script>
    //Таймер
    let endTime = new Date(@ViewBag.End.Year, @ViewBag.End.Month - 1, @ViewBag.End.Day,
        @ViewBag.End.Hour, @ViewBag.End.Minute, @ViewBag.End.Second).getTime();
    
    let x = setInterval(function() {
        let now = new Date().getTime();
        let distance = endTime - now;
        if (distance < 0) {
            document.getElementById('send-answers').click();
            clearInterval(x);
        }
    
        let days = Math.floor(distance / (1000 * 60 * 60 * 24));
        let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) + days * 24;
        let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
        document.getElementById("time").textContent = hours + "h " + minutes + "m " + seconds + "s ";
    }, 1000);
</script>
<body>
<form method="post" asp-controller="SolveQuiz" asp-action="SaveResult">
    <section class="solve-content">
    <h1 class="name-poll">@ViewBag.QuizTitle</h1>
    @{
        ViewBag.QuestionNumber = 0;
        foreach (var id in Model)
        {
            var question = (Question)ViewBag.DataMangager.Questions.GetItemById(id);
            
            <input type="text" readonly name="answers[@ViewBag.QuestionNumber].QuestionId" value="@question.Id" hidden="hidden">
            <input type="text" readonly name="answers[@ViewBag.QuestionNumber].QuestionType" value="@question.Type" hidden="hidden">
            <input type="text" readonly name="answers[@ViewBag.QuestionNumber].QuizId" value="@ViewBag.QuidId" hidden="hidden">
            
            ViewBag.QuestionContainerId = $"question_{ViewBag.QuestionNumber}";
            ViewBag.QuestionNumber = ViewBag.QuestionNumber;
            ViewBag.QuestionText = question.Text;
            ViewBag.QuestionAnswerOptions = question.AnswerOptions;
            ViewBag.Question = question;
            ViewBag.WithAnswers = 0;
            
            <section class="question-solve">
                <section id="@ViewBag.QuestionContainerId" class="hat-question">
                    @await Html.PartialAsync("QuestionTitle")
                </section>
                @await Html.PartialAsync("QuestionAnswer")
            </section>
            ViewBag.QuestionNumber++;
        }
    }
    <button class="submit-button" id="send-answers">Отправить</button>
    <div class="timer">
        <img src="images/timer.svg" alt="timer-icon" style="width: 24px;"/>
        <p id="time" class="bold-text"></p>
    </div>
    </section>
</form>
</body>