@using FiveMinutesTalk.Domain.Entities.QuestionsTypes
@model Guid[]

@{
    ViewData["Title"] = "Прохождение опроса";
}

<script>
    function checkCheckbox(checkbox, optionNumber){
        if (checkbox.checked) {
            checkbox.value = optionNumber;
        }
        else {
            checkbox.value = -1;
        }
    }
    
    //Таймер
    let endTime = new Date(@ViewBag.End.Year, @ViewBag.End.Month - 1, @ViewBag.End.Day,
        @ViewBag.End.Hour, @ViewBag.End.Minute, @ViewBag.End.Second).getTime();
    
    let x = setInterval(function() {
        let now = new Date().getTime();
        let distance = endTime - now;
        if (distance < 0) {
            document.getElementById('send-answers').click();
            clearInterval(x);
        }
    
        let days = Math.floor(distance / (1000 * 60 * 60 * 24));
        let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) + days * 24;
        let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
        document.getElementById("time").textContent = hours + "h " + minutes + "m " + seconds + "s ";
    }, 1000);
    </script>

<body>
<form method="post" asp-controller="SolveQuiz" asp-action="SaveResult">
    <section class="solve-content">
    <h1 class="name-poll">@ViewBag.QuizTitle</h1>
    @{
        var questionNumber = 0;
        foreach (var id in Model)
        {
            var question = (Question)ViewBag.DataMangager.Questions.GetItemById(id);
            <input type="text" readonly name="answers[@questionNumber].QuestionId" value="@question.Id" hidden="hidden">
            <input type="text" readonly name="answers[@questionNumber].QuestionType" value="@question.Type" hidden="hidden">
            <input type="text" readonly name="answers[@questionNumber].QuizId" value="@ViewBag.QuidId" hidden="hidden">
            var questionContainerId = $"question_{questionNumber}";
            <section class="question-solve">
                <section id=@questionContainerId class="hat-question">
                    <div class="number-question">
                        <div class="number">@(questionNumber + 1)</div>
                        <div class="dot">.</div>
                    </div>
                    <div class="name-question">@question.Text</div>
                </section>
                <section class="answer">
                    @switch (question.Type)
                    {
                        case QuestionTypeEnum.OpenQuestion:
                        {
                            var inputId = $"answer_{questionNumber}";
                            <label>
                                <input class="text-question" type="text" id=@inputId placeholder="Ответ"
                                       name="answers[@questionNumber].Answers">
                            </label>
                            break;
                        }
                        case QuestionTypeEnum.MultipleAnswersQuestion:
                        {
                            <label>
                                @{
                                    var optionNumb = 0;
                                    foreach (var option in question.AnswerOptions)
                                    {
                                        var optionId = $"option_{questionNumber}_{optionNumb}";
                                        <label id=@optionId class="checkbox-label">
                                            <input type="checkbox"
                                                   onchange="checkCheckbox(this, @optionNumb)"
                                                   name="answers[@questionNumber].Answers"
                                                   value=-1
                                                   class="checkbox-text">
                                            <span>@option</span>
                                        </label>
                                        optionNumb++;
                                    }
                                }
                            </label>
                            break;
                        }
                        case QuestionTypeEnum.Radio:
                        {
                            <label>
                                @{
                                    var optionNumb = 0;
                                    foreach (var option in question.AnswerOptions)
                                    {
                                        var optionId = $"option_{questionNumber}_{optionNumb}";
                                        <label id=@optionId class="radio-label">
                                            <input type="radio"
                                                   onchange="checkCheckbox(this, @optionNumb)"
                                                   name="answers[@questionNumber].Answers"
                                                   value=-1
                                                   class="radio-text">
                                            <span>@option</span>
                                        </label>
                                        optionNumb++;
                                    }
                                }
                            </label>
                            break;
                        }
                        case QuestionTypeEnum.Code:
                        {
                            <label>
                                @{
                                    <textarea id="code_@questionNumber" name="answers[@questionNumber].Answers"></textarea>
                                    <script>
                                    let textarea = document.getElementById("code_@questionNumber");
                                    let editor = CodeMirror.fromTextArea(document.getElementById("code_@questionNumber"), {
                                     lineNumbers: true,
                                     lineWrapping: true,
                                     matchBrackets: true,
                                     indentUnit: 5,
                                     lint: true
                                 });
                                    editor.on('change', function () {
                                                    textarea.value = editor.getValue();
                                                });
                            </script>

                                }
                            </label>
                            break;
                        }
                    }

                </section>
            </section>
            questionNumber++;
        }
    }
    <button class="submit-button" id="send-answers">Отправить</button>
    <div class="timer">
        <img src="images/timer.svg" alt="timer-icon" style="width: 24px;"/>
        <p id="time" class="bold-text"></p>
    </div>
    </section>
</form>
</body>