@using FiveMinutesTalk.Domain.Entities.Repositories.EntityFramework
@using FiveMinutesTalk.Domain.Entities
@using FiveMinutesTalk.Domain.Entities.QuestionsTypes
@model Guid[]

<div>
    @await Html.PartialAsync("StatisticsType")
    <h2>Статистика по опросу "@ViewBag.QuizTitle"</h2>
    @{
        var answerNumber = 0;
        foreach (var quizAnswerId in Model)
        {
            answerNumber++;
            var questionAnswerIds = ((EFQuizQuestionAnswerRepository)ViewBag.DataManager.QuizQuestionAnswers)
                .GetQuestionAnswerIdsByQuizAnswerId(quizAnswerId);
            <div>
                <h3>Ответ номер @answerNumber</h3>
                @foreach (var id in questionAnswerIds)
                {
                    QuestionAnswer answer = ViewBag.DataManager.QuestionAnswers.GetItemById(id);
                    Question question = ViewBag.DataManager.Questions.GetItemById(answer.QuestionId);
                    <h3>@question.Text</h3>
                    if (question.Type == QuestionTypeEnum.OpenQuestion)
                    {
                        <a>@answer.Answers[0]</a>
                    }
                    else if (question.Type == QuestionTypeEnum.MultipleAnswersQuestion)
                    {
                        for (int i = 0; i < question.AnswerOptions.Length; i++)
                        {
                            var option = question.AnswerOptions[i];
                            if (answer.Answers.Contains(i.ToString()))
                            {
                                <label><input type="checkbox" checked>@option</label>
                            }
                            else
                            {
                                <label><input type="checkbox">@option</label>
                            }
                        }
                    }
                    else if (question.Type == QuestionTypeEnum.Radio)
                    {
                        for (int i = 0; i < question.AnswerOptions.Length; i++)
                        {
                            var option = question.AnswerOptions[i];
                            if (answer.Answers.Contains(i.ToString()))
                            {
                                <label><input type="radio" checked>@option</label>
                            }
                            else
                            {
                                <label><input type="radio">@option</label>
                            }
                        }
                    }
                }
            </div>
        }
    }
</div>