@using FiveMinutesTalk.Domain.Entities.QuestionsTypes
@model Guid[]

<body>
<form method="post" asp-controller="CreateQuiz" asp-action="SaveChanges">
    <div class="page" id="create-poll-content">
        <section id="questions">
            <input type="text" name="quizTitle" class="name-poll" required value="@ViewBag.Title" placeholder="Введите название опроса" onFocus="this.select()"/>
            @{
                var id = 0;
                foreach (var guid in Model)
                {
                    var num = id + 1;
                    var textAreaId = $"Textarea{id}";
                    Question question = ViewBag.DataManager.Questions.GetItemById(guid);
                    <div id="Form-@id" class="question-block">
                        <section id="Question-@id" class="question">
                            <section class="hat-question">
                                <section class="number-question">
                                    <div class="number">@num</div>
                                    <div class="dot">.</div>
                                </section>
                                <input class="name-question" value="@question.Text" name="questions[@id].Text" type="text" placeholder="Введите название вопроса" onFocus="this.select()">
                                @await Html.PartialAsync("QuestionTypeSelect", question.Type)
                                <script type="module">
                                    let select = document.getElementById("Question-@id").querySelector(".form-select");
                                    select.id = @id;
                                    select.name = "questions[@id].Type";
                                    select.addEventListener('change', function (questionType) {
                                              changeComponents(questionType)
                                          });
                                </script>
                            </section>
                            <div id="Answer-@id">

                                @switch (question.Type)
                                {
                                    case QuestionTypeEnum.OpenQuestion:
                                        <input id="Text-@id" class="text-question" value="@question.CorrectAnswers.FirstOrDefault()" type="text" placeholder="Ответ">
                                        break;

                                    case QuestionTypeEnum.MultipleAnswersQuestion:
                                    {
                                        for (int j = 0; j < question.AnswerOptions.Length; j++)
                                        {
                                            var option = question.AnswerOptions[j];
                                            <label id="Label-@id-@j" class="checkbox-label">

                                                @if (question.CorrectAnswers.Contains(j.ToString()))
                                                {
                                                    <input type="checkbox" checked="checked" name="Checkbox-@id" id="Checkbox-@id-@j">
                                                }
                                                else
                                                {
                                                    <input type="checkbox" name="Checkbox-@id" id="Checkbox-@id-@j">
                                                }
                                                <div class="input-container" id="inputContainer-@id-@j">
                                                    <input placeholder="Ответ" value="@option" type="text" id="CheckboxText-@id-@j" name="questions[@id].AnswerOptions" class="checkbox-text" onfocus="this.select()">
                                                    <span class="checkbox-span" id="SpanCheckbox-@id-@j"></span>
                                                </div>
                                            </label>
                                        }
                                        <input value="Добавить вариант ответа" type="button" id="AddСheckbox-@id" class="add-checkbox">
                                        <script>        
                                            let col = @question.AnswerOptions.Length;
                                            document.getElementById("AddСheckbox-@id").addEventListener("click", function (e) {
                                                            addNewCheckbox(e, @id, col++)
                                                        });
                                        </script>
                                        break;
                                    }
                                    case QuestionTypeEnum.Radio:
                                    {
                                        for (int j = 0; j < question.AnswerOptions.Length; j++)
                                        {
                                            var option = question.AnswerOptions[j];
                                            <label id="Label-@id-@j" class="radio-label">

                                                @if (question.CorrectAnswers.Contains(j.ToString()))
                                                {
                                                    <input type="radio" checked="checked" name="Radio-@id" id="Radio-@id-@j">
                                                }
                                                else
                                                {
                                                    <input type="radio" name="Radio-@id" id="Radio-@id-@j">
                                                }
                                                <div class="input-container" id="inputContainerRadio-@id-@j">
                                                    <input value="@option" placeholder="Ответ" type="text" name="questions[@id].AnswerOptions" id="RadioText-@id-@j" class="radio-text" onfocus="this.select()">
                                                    <span class="radio-span" id="SpanRadio-@id-@j"></span>
                                                </div>
                                            </label>
                                        }
                                        <input value="Добавить вариант ответа" type="button" id="AddRadio-@id" class="add-radio">
                                        <script>        
                                            let col = @question.AnswerOptions.Length;
                                            document.getElementById("AddRadio-@id").addEventListener("click", function (e) {
                                                            addNewRadio(e, @id, col++)
                                                        });
                                        </script>
                                        break;
                                    }
                                    case QuestionTypeEnum.Code:
                                    {
                                        <label>
                                            @{
                                                <textarea id="@textAreaId" style="display: none"></textarea>
                                                <script>
                                                    var textarea = document.getElementById("@textAreaId");
                                                    var editor = CodeMirror.fromTextArea(textarea, {
                                                        lineNumbers: true,
                                                        lineWrapping: true,
                                                        matchBrackets: true,
                                                        indentUnit: 5,
                                                        lint: true,
                                                    });
                                                    
                                                    editor.on('change', function () {
                                                        textarea.value = editor.getValue();
                                                    });
                                                    
                                                    editor.getDoc().setValue("@question.CorrectAnswers.FirstOrDefault()");
                                            </script>
                                            }
                                        </label>
                                        break;
                                    }
                                }

                            </div>
                        </section>
                        @await Html.PartialAsync("BottomQuestion")
                        <button id="AddQuestion-@id" formmethod="dialog" class="add-question"> <img src="/images/add-question.svg" alt="plus">Добавить вопрос</button>
                    </div>
                    id += 1;
                }
            }
        </section>
    </div>


    @await Html.PartialAsync("Settings")
    @await Html.PartialAsync("Header")
</form >
@await Html.PartialAsync("Tabs")
</body >