@using FiveMinutesTalk.Domain.Entities.QuestionsTypes
@model Guid[]

<body>
<form method="post" asp-controller="CreateQuiz" asp-action="SaveChanges">
    <div class="page" id="create-poll-content">
        <section id="questions">
            <input type="text" name="quizTitle" class="name-poll" required value="@ViewBag.Title" placeholder="Введите название опроса" onFocus="this.select()"/>
            @{
                var counter = 0;
                foreach (var guid in Model)
                {
                    counter++;
                    var id = guid;
                    Question question = ViewBag.DataManager.Questions.GetItemById(id);
                    <div id="Form1" class="question-block">
                        <section id="Question1" class="question">
                            <section class="hat-question">
                                <section class="number-question">
                                    <div class="number">@counter</div>
                                    <div class="dot">.</div>
                                </section>
                                <input class="name-question" value="@question.Text" name="questions[0].Text" name="Question" type="text" placeholder="Введите название вопроса" onFocus="this.select()">
                                @await Html.PartialAsync("QuestionTypeSelect", question.Type)
                            </section>
                            <div id="Answer1">

                                @switch (question.Type)
                                {
                                    case QuestionTypeEnum.OpenQuestion:
                                        <input id="Text1" class="text-question" value="@question.CorrectAnswers.FirstOrDefault()" type="text" placeholder="Ответ">
                                        break;

                                    case QuestionTypeEnum.MultipleAnswersQuestion:
                                    {
                                        for (int j = 0; j < question.AnswerOptions.Length; j++)
                                        {
                                            var option = question.AnswerOptions[j];
                                            <label id="Label1-0" class="checkbox-label">

                                                @if (question.CorrectAnswers.Contains(j.ToString()))
                                                {
                                                    @:<input type="checkbox" checked="checked" name="Checkbox1" id="Checkbox1-0">
                                                }
                                                else
                                                {
                                                    @:<input type="checkbox" name="Checkbox1" id="Checkbox1-0">
                                                }

                                                <input placeholder="Текст" value="@option" type="text" id="CheckboxText1-0" class="checkbox-text">
                                            </label>
                                        }
                                        break;
                                    }
                                    case QuestionTypeEnum.Radio:
                                    {
                                        for (int j = 0; j < question.AnswerOptions.Length; j++)
                                        {
                                            var option = question.AnswerOptions[j];
                                            <label id="Label1-0" class="radio-label">

                                                @if (question.CorrectAnswers.Contains(j.ToString()))
                                                {
                                                    @:<input type="radio" checked="checked" name="Checkbox1" id="Checkbox1-0">
                                                }
                                                else
                                                {
                                                    @:<input type="radio" name="Checkbox1" id="Checkbox1-0">
                                                }

                                                <input placeholder="Текст" value="@option" type="text" id="CheckboxText1-0" class="radio-text">
                                            </label>
                                        }
                                        break;
                                    }
                                }

                            </div>
                        </section>
                        @await Html.PartialAsync("BottomQuestion")
                        <button id="AddQuestion1" formmethod="dialog" class="add-question"> <img src="/images/add-question.svg" alt="plus">Добавить вопрос</button>
                    </div>
                }
            }
        </section>
    </div>

    @await Html.PartialAsync("Settings")
    @await Html.PartialAsync("Header")
</form>
@await Html.PartialAsync("Tabs")
</body>